@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 21px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', 'Georgia', serif;
  color: #1E1008;
  background-image: url('/yap_media/chinese-background.png');
  background-repeat: repeat;
  background-size: 400px 400px;
  background-color: #F7F0E3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', 'Georgia', serif;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.nav-link-active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #F5C800;
}
